global:
  scrape_interval: 5s
  evaluation_interval: 5s 
scrape_configs:
  - job_name: 'config-server'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['host.docker.internal:8888']
    basic_auth:
      username: 'root'
      password: 'root'
  - job_name: 'eureka-1'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['host.docker.internal:8761']
  - job_name: 'eureka-2'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['host.docker.internal:8762']
  - job_name: 'eureka-3'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['host.docker.internal:8763']
  - job_name: 'gateway'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['host.docker.internal:8080']
  - job_name: 'extractions'
    metrics_path: '/extractions/actuator/prometheus'
    static_configs:
      - targets: ['host.docker.internal:8080']
  - job_name: 'extractions-mcp'
    metrics_path: '/extractions-mcp/actuator/prometheus'
    static_configs:
      - targets: ['host.docker.internal:8080']
  - job_name: 'notices'
    metrics_path: '/notices/actuator/prometheus'
    static_configs:
      - targets: ['host.docker.internal:8080']
